.vscode/
Routine_OPSD/bin/out
Routine_OPSD/obj/fourier.o
Routine_OPSD/obj/utils.o
bin/*
!bin/modvel0/
!bin/modvel1/
!bin/Lenna/
bin/modvel0/*
bin/modvel1/*
bin/Lenna/*
!bin/modvel0/image.bin
!bin/modvel1/image.bin
!bin/Lenna/image.bin
img/*
!img/modvel0/
!img/modvel1/
!img/Lenna/
img/modvel0/*
img/modvel1/*
img/Lenna/*
!img/modvel0/image.png
!img/modvel1/image.png
!img/Lenna/image.png